#buttons{
    text-align: center;
    text-decoration: none; 
}
#resume-purpose{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    text-align: center;
    text-decoration: none; 
    margin-left: 20px;
    margin-right: 20px;
}
body{
    font-size: 25px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    text-align: center;
    text-decoration: none; 
}
hr {
    border: none;
    border-top: 1px dotted black;
}

.name-and-pic{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#cover-photo{
    width: 100%;
}
#nav{
    display: flex;
    flex-direction: left;
    background-image: url('./favhob.png');
}
#header{
    font-family: 'Lobster Two', cursive;
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px rgba(171, 171, 238, 0.747);
}
.text{
    font-family: 'Lobster Two', cursive;
}
.video{
    padding: 10px 10px 10px 10px;
    font-family: 'Lobster Two', cursive;
}
#pic{
    width: 10%;
    height: 60%;
}
#selector{
    font-family: 'Lobster Two', cursive;
}
.blog{
    font-family: 'Lobster Two', cursive;
    padding: 10px 10px 10px 10px;
}
.title{
    font-family: 'Lobster Two', cursive;
}
#words{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h3{
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px rgba(171, 171, 238, 0.747);
}
.footer{
    text-align: center;
    font-family: 'Lobster Two', cursive;
}